<section class="work grid container" data-workId=<%= @work.id %> >


  <div class="row">
      <div class="twelve columns">
      <div class="work-header-container work-section">
        <header>
          <p class="work-header-artist"><%= link_to @artist.fullname, @artist %> </p>
          <p class="work-header-title"> <%= @work.title %></p>
        </header>
      </div>
      </div>
   </div>

  <div class="row">
    <div class="four columns">
      <section class="work-tracklist-container work-section">
        <%= render partial: "tracklist/show", locals: {work: @work} %>
      </section>

      <div class="work-details-container work-section columns">
        <section class="work-details-container work-section">
          <%= render partial: "works/components/work_details", locals: {work: @work} %>
        </section>
      </div>
    </div>

    <div class="eight columns">

        <div class="work-image-container work-section twelve columns">
          <div class="lede-image">
            <img src="<%= @work.image_url %>" alt="Album Cover" />
          </div>
        </div>
        <div class="work-description-container work-section">
          <article class="work-description">
            <%= raw @work.description %>
          </article>

      </div>
    </div>


  </div>

</section>
