<section class="work squareformat" data-workId=<%= @work.id %> >

  <%= render partial: "works/components/header", locals: {work: @work} %>
  <%= render partial: "works/components/details", locals: {work: @work, small: false} %>
  <%= render partial: "works/components/image", locals: {work: @work, cover: false, fillLede: true, small: false} %>
  <%= render partial: "works/components/tracklist", locals: {work: @work, small: false} %>

  <nav class="work-content-nav">
    <% if @work.credits %>
      <span class="work-content-nav-item" data-content="credits">Credits</span>
    <% end %>
    <% if @work.description %>
      <span class="work-content-nav-item" data-content="notes">Liner Notes</span>
    <% end %>
  </nav>

  <%= render partial: "works/components/credits", locals: {work: @work, small: false} %>
  <%= render partial: "works/components/description", locals: {work: @work, small: false} %>

</section>
