<section class="work squareformat" data-workId=<%= @work.id %> >

  <section class="work-header-container work-section">
    <header>
      <h2 class="work-header-artist"><%= link_to @artist.fullname, @artist %> </h2>
      <!-- <div class="work-header-divider">/</div> -->
      <h3 class="work-header-title"> <%= @work.title %> </h3>
    </header>

    <div class="work-header-cta-container">
      <div class="work-tracklist-play-all">
        Play
        <button class="add-work-to-player-btn button-primary fa fa-play"></button>
      </div>
      <div class="work-tracklist-purchase-all">
        Purchase ($<%= (@work.price_formatted) %>)
        <button class="add-work-to-cart-btn button-primary fa fa-cart-plus"></button>
      </div>
    </div>
  </section>

  <section class="work-details-container work-section">
    <%= render partial: "works/components/work_details", locals: {work: @work} %>
  </section>

  <!-- <section class="work-cta-container work-section">
    <header class="work-header">
      <a class="add-work-to-player-btn">Play Audio</a>
    </header>
    <h4 class="work-header">
      Purchase Download
    </h4>
    <a class="add-work-to-cart-btn">Add to Cart</a>
  </section> -->


  <section class="work-image-container work-section">
    <div class="work-image-background-wrapper">
      <div class="work-image-background" style="background-image: url(<%= @work.image_urls[0] %>)"></div>
    </div>
    <div class="lede-image">
      <img src="<%= @work.image_urls[0] %>" alt="Album Cover" />
    </div>
  </section>

  <section class="work-tracklist-container work-section">
    <%= render partial: "tracklist/show", locals: {work: @work} %>
  </section>

  <nav class="work-content-nav">
    <% if @work.credits %>
      <span class="work-content-nav-item" data-content="credits">Credits</span>
    <% end %>
    <% if @work.description %>
      <span class="work-content-nav-item" data-content="notes">Liner Notes</span>
    <% end %>
  </nav>

  <div class="work-credits-container">
    <section class="work-credits">
      <%= raw @work.credits %>
    </section>
  </div>

  <section class="work-description-container work-section">
    <article class="work-description">
      <%= raw @work.description %>
    </article>
  </section>

</section>
