<section class="work two-column" data-workId=<%= @work.id %> >

  <%= render partial: "works/components/header", locals: {work: @work} %>

  <%= render partial: "works/components/details", locals: {work: @work} %>

  <div class="work-column primary">

    <section class="work-image-container work-section">
      <div class="work-image-background-wrapper">
        <div class="work-image-background" style="background-image: url(<%= @work.image_urls[0] %>)"></div>
      </div>
      <div class="lede-image">
        <img src="<%= @work.image_urls[0] %>" alt="Album Cover" />
      </div>
    </section>

    <%= render partial: "works/components/description", locals: {work: @work} %>

  </div>

  <div class="work-column secondary">

    <%= render partial: "works/components/tracklist", locals: {work: @work} %>

    <%= render partial: "works/components/credits", locals: {work: @work} %>

  </div>

</section>
