<section class="work wideformat" data-workId=<%= @work.id %>>
  <div class="work-image-carousel">
    <% if @work.image_urls.length > 1 %>
      <button class="work-image-carousel-left work-image-carousel-button">
        <i class="fa fa-chevron-left" aria-hidden="false"></i>
      </button>
      <button class="work-image-carousel-right work-image-carousel-button">
        <i class="fa fa-chevron-right" aria-hidden="false"></i>
      </button>
    <% end %>

    <div class="work-images">
      <% @work.image_urls.each_with_index do |url, i| %>
        <div class="work-image <%= i == 0 ? 'active' : 'hide' %>" style="background-image: url(<%= url %>)"></div>
      <% end %>
    </div>
  </div>

  <%= render partial: "works/components/header", locals: {work: @work} %>
  <%= render partial: "works/components/details", locals: {work: @work} %>

  <div class="work-column primary">
    <%= render partial: "works/components/description", locals: {work: @work} %>
  </div>

  <div class="work-column secondary">
    <%= render partial: "works/components/tracklist", locals: {work: @work} %>
    <%= render partial: "works/components/credits", locals: {work: @work} %>
  </div>

</section>
