<section class="work wideformat" data-workId=<%= @work.id %>>
  <div class="work-image-carousel">
    <% if @work.image_urls.length > 1 %>
      <button class="work-image-carousel-left work-image-carousel-button">
        <i class="fa fa-chevron-left" aria-hidden="false"></i>
      </button>
      <button class="work-image-carousel-right work-image-carousel-button">
        <i class="fa fa-chevron-right" aria-hidden="false"></i>
      </button>
    <% end %>

    <div class="work-images">
      <% @work.image_urls.each_with_index do |url, i| %>
        <div class="work-image <%= i == 0 ? 'active' : 'hide' %>" style="background-image: url(<%= url %>)"></div>
      <% end %>
    </div>
  </div>

  <!-- TODO: refactor to work-header-container -->
  <section class="work-header-container work-section">
    <header>
      <h2 class="work-header-artist"><%= link_to @artist.fullname, @artist %> </h2>
      <!-- <div class="work-header-divider">/</div> -->
      <h3 class="work-header-title">
        <span><%= @work.title %></span>
      </h3>
    </header>
  </section>

  <!-- <aside class="work-buttons">
    <a class="add-work-to-player-btn">Play Audio</a>
    <a class="add-work-to-cart-btn">Add to Cart</a>
  </aside> -->

  <section class="work-details-container work-section">
    <%= render partial: "works/components/work_details", locals: {work: @work} %>
  </section>

  <section class="work-tracklist-container work-section">
    <%= render partial: "tracklist/show", locals: {work: @work} %>
  </section>

  <section class="work-content-container work-section">
    <nav class="work-content-nav">
      <% if @work.credits %>
      <span class="work-content-nav-item" data-content="credits">Credits</span>
      <% end %>
      <% if @work.description %>
      <span class="work-content-nav-item" data-content="notes">Liner Notes</span>
      <% end %>
    </nav>

    <div class="work-credits-container">
      <section class="work-credits">
        <%= raw @work.credits %>
      </section>
    </div>

    <div class="work-description-container">
      <p class="work-description">
        <%= @work.description %>
      </p>
    </div>
  </section>

</section>
