<p id="notice"><%= notice %></p>

<h1>Listing Works</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Image url</th>
      <th>Price</th>
      <th>Website url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.artist_id %></td>
        <td><%= work.title %></td>
        <td><%= work.start_date %></td>
        <td><%= work.end_date %></td>
        <td><%= work.image_url %></td>
        <td><%= work.price %></td>
        <td><%= work.website_url %></td>
        <td><%= link_to 'Show', [@artist,work] %></td>
        <td><%= link_to 'Edit', edit_artist_work_path(@artist,work) %></td>
        <td><%= link_to 'Destroy', [@artist,work], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work', new_artist_work_path %>
