<section class="work-header-container work-section">
  <button class="add-work-to-player work-cta-item primary">
    <div class="cta-content">
      <!-- <span>Play</span> -->
      <!-- <span class="button-primary fa fa-play"></span> -->
      <div class="button-primary"><%= image_tag "play-button.svg" %></div>
    </div>
  </button>
  <header class="work-section-header">
    <h2 class="work-header-artist"><%= link_to @artist.fullname, @artist %> </h2>
    <h3 class="work-header-title"> <%= @work.title %> </h3>
  </header>

  <% if embed === "ctas" %>
    <%= render partial: "works/components/ctas", locals: {work: @work} %>
  <% elsif embed === "details" %>
    <%= render partial: "works/components/details", locals: {work: @work, small: false} %>

    <!-- Remove Cart Add for now
    <div class="work-detail add-work-to-cart">
      <span class="work-detail-label">Add To Cart</span>
      <span class="work-detail-data">$<%= @work.price_formatted %></span>
    </div>

    <button class="add-work-to-cart work-cta-item">
      <div class="cta-content">
        <span class="button-primary fa fa-cart-plus"></span>
        <span>Purchase ($<%= (@work.price_formatted) %>)</span>
      </div>
    </button>
    -->

    <!--  -->
    <button class="add-work-to-cart work-cta-item">
      <div class="cta-content">
        <span>Venmo <%= @artist.first_name %></span>
      </div>
    </button>

  <% end %>

</section>
