<section class="work-tracklist-container work-section<%= ' small' if small %>">
  <h5 class="work-section-header">Tracklist</h5>
  <div class="work-tracklist-background" style="background-image: url(<%= @work.image_urls[0] %>)"></div>
  <div class="work-tracklist">
    <!-- <div class="work-tracklist-header-container <%= 'hidden-temp' if @work.pieces.length == 1 %>"> -->
      <!-- <div class="work-tracklist-program-runtime">
        Program Runtime | <%= @work.duration_formatted %>
      </div> -->
      <!-- <span class="work-tracklist-play-all"><button class="add-work-to-player button-primary">Play All</button></span> -->
      <!-- <span class="work-tracklist-total-duration"><%= @work.duration_formatted %></span> -->
      <!-- <span class="work-tracklist-purchase-all">
        <button class="add-work-to-cart button-primary">$<%= (@work.price_formatted) %></button>
      </span> -->
    <!-- </div> -->
      <% @work.pieces.each do |piece| %>
        <div class="piece" data-pieceId=<%= piece.id %> >
          <span class='piece-play piece-column'>
            <span class='piece-track-number'>
              <%= 1 + piece.track_number %>.
            </span>
            <button class="add-piece-to-player-btn fa fa-play"></button>
          </span>
          <div class='piece-title piece-column'><%= piece.title %></div>
          <div class='piece-duration piece-column'><%= piece.duration_formatted %></div>
          <!-- Disable purchase for now
          <div class="piece-purchase piece-column">
            <button class="add-piece-to-cart-btn">$<%= piece.price_string %></button>
            <button class="add-piece-to-cart-btn-sm">$<%= piece.price_string %></button>
          </div>
          -->

          <% if piece.description %>
          <div><a class="toggle-piece-description-btn">Show Description</a></div>
          <% end %>
        </div>
        <div class="piece-description" aria-hidden=true>
          <td class="piece-description-show"><%= piece.description %></td>
        </div>
      <% end %>
  </div>
</section>
