<!DOCTYPE html>
<html>
<head>
  <title>Arc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div id="main">
    <%= yield %>
  </div>
  <div id="audio-player" class="audio-player">
    <%= react_component('AudioPlayer', {currentArtist: 'Eli Keszler', currentTitle: 'Railsback Curve', currentSource: 'https://s3.amazonaws.com/reubenson-portfolio/Sheet_metal.mp3', isPlaying: false}, {tag: 'div', class: 'audio-player-component', prerender: true}) %>
  </div>
</body>
</html>
