<!DOCTYPE html>
<html>
<head>
  <title>Arc</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://js.braintreegateway.com/js/braintree-2.24.0.min.js"></script>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div id="main">
    <%= yield %>
  </div>
  <%= react_component('Cart', {}, {tag: 'div', class: 'cart-container hidden', prerender: false}) %>
  <%= react_component('AudioPlayer', {}, {tag: 'div', class: 'audio-player', aria:{hidden:true}, prerender: false}) %>

  <div id="audio-player-buffer" aria-hidden='true'></div>
</body>
</html>
